---
import AnimatedParagraph from "../AnimatedParagraph.astro";
import OptimizedImage from "../OptimizedImage.astro";
import terraza2 from "../../assets/terraza2.png";
import cliente1 from "../../assets/cliente1.webm";
---

<section
  class="relative bg-[#fcfcfc] w-full px-3.5 md:px-7 flex flex-col justify-center gap-4 py-12 md:py-0"
>
  <h3 class="font-bold text-sm">(NUESTROS CLIENTES)</h3>
  <div class="flex flex-col md:grid md:grid-cols-12 gap-y-12 md:gap-y-0">
    <div class="col-span-12 md:col-span-6 md:mr-10">
      <OptimizedImage src={terraza2} alt="Terraza-2" class="w-full h-auto" />
      <div class="font-medium mt-6 text-lg md:text-xl">
        <AnimatedParagraph>
          "Como terraza lo que se pensaba hacer era un punto de reunion de la
          casa, poder recibir amistadas y familiares. Sabes que estas abrazado
          por el espacio. Este espacio anteriormente era más como un deposito de
          la casa estaba en desuso y el espacio no estaba bien aprovechado.
          Decidimos darle un giro."
        </AnimatedParagraph>

        <AnimatedParagraph class="my-4 font-bold">
          ¿Crees que tu idea se ve reflejada en el diseño final?
        </AnimatedParagraph>

        <AnimatedParagraph>
          "Sí, yo creo que se cumplió con la visión que teniamos, la idea de la
          terraza fue tanto mía como la de mi mamá donde tener un espacio
          acogedor que pueda reunir a sus amistades."
        </AnimatedParagraph>

        <div class="text-sm uppercase font-extrabold leading-tight mt-6">
          <p>Luis</p>
          <p>Terraza Lima</p>
        </div>
      </div>
    </div>

    <div class="hidden md:block col-span-1"></div>

    <div class="col-span-12 md:col-span-5 flex flex-col gap-2">
      <div
        class="relative group cursor-pointer overflow-hidden max-h-screen video-container"
      >
        <video
          id="client-video"
          src={cliente1}
          class="w-full h-full scale-100 md:scale-120 object-contain md:max-h-[90vh]"
          loop
          playsinline></video>
        <div
          id="video-controls"
          class="absolute inset-0 flex items-center justify-center opacity-100 group-hover:opacity-100 transition-opacity duration-300"
        >
          <div
            id="play-pause-indicator"
            class="bg-white/20 backdrop-blur-md p-6 rounded-full"
          >
            <svg
              id="play-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="white"><path d="M8 5v14l11-7z"></path></svg
            >
            <svg
              id="pause-icon"
              class="hidden"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="white"
              ><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path></svg
            >
          </div>
        </div>
      </div>

      <div>
        <p class="text-sm font-bold tracking-tighter text-end md:mr-10">
          DALE PLAY!
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  const video = document.getElementById("client-video") as HTMLVideoElement;
  const playIcon = document.getElementById("play-icon");
  const pauseIcon = document.getElementById("pause-icon");
  const videoContainer = document.querySelector(".video-container");
  const videoControls = document.getElementById("video-controls");

  if (video && videoContainer && videoControls) {
    const updateUI = () => {
      if (video.paused) {
        videoControls.classList.remove("opacity-0");
        videoControls.classList.add("opacity-100");
        playIcon?.classList.remove("hidden");
        pauseIcon?.classList.add("hidden");
      } else {
        videoControls.classList.remove("opacity-100");
        videoControls.classList.add("opacity-0");
        playIcon?.classList.add("hidden");
        pauseIcon?.classList.remove("hidden");
      }
    };

    videoContainer.addEventListener("click", () => {
      if (video.paused) {
        video.play();
      } else {
        video.pause();
      }
      updateUI();
    });

    updateUI();
  }
</script>
