---
import AnimatedParagraph from "../AnimatedParagraph.astro";
---

<section class="flex flex-col px-7">
  <div class="flex w-full justify-between text-sm font-bold uppercase">
    <p>(Nuestro compromiso)</p>
    <p>(Sigue Deslizando)</p>
  </div>
  <div class="flex w-full items-center justify-center pt-32">
    <AnimatedParagraph
      class="font-bold text-5xl leading-tight tracking-tight max-w-5xl text-center"
      data-manual="true"
    >
      Cada proyecto lo abordamos con la misma pasión y compromiso. Nos
      inspira trabajar de manera colaborativa, compartiendo visiones y
      experiencias que enriquecen el proceso creativo y hacen que cada
      propuesta sea única.
    </AnimatedParagraph>
  </div>
</section>
