---
import SvgPathAnimation from "../SvgPathAnimation.astro";
---

<section class="flex flex-col items-center justify-center w-full px-7 h-screen">
  <div class="flex flex-col items-center w-2xl">
    <SvgPathAnimation />
  </div>
</section>
