---
import SvgPathAnimation from "../SvgPathAnimation.astro";
---

<section
  class="flex flex-col items-center justify-center w-full px-3.5 md:px-7 md:h-screen py-24 md:py-0"
>
  <div class="flex flex-col items-center w-full md:w-2xl">
    <SvgPathAnimation />
  </div>
</section>
