---
import Header from "../components/Header.astro";
import HeroSection from "../components/landing/HeroSection.astro";
import AboutSection from "../components/landing/AboutSection.astro";
import ProjectsSection from "../components/landing/ProjectsSection.astro";
import ClientsSection from "../components/landing/ClientsSection.astro";
import ApproachSection from "../components/landing/ApproachSection.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import FloatingMenu from "../components/FloatingMenu.astro";
import MenuModal from "../components/MenuModal.astro";

import banoSevilla from "../assets/bano-sevilla.jpg";
import casaTrujillo from "../assets/casa-trujillo.jpg";
import casaVerde from "../assets/casa-verde.png";
import cocina2 from "../assets/cocina2.jpg";
import sala from "../assets/sala.png";
import terraza from "../assets/terraza.jpeg";

const images = [
  banoSevilla.src,
  casaTrujillo.src,
  casaVerde.src,
  cocina2.src,
  sala.src,
  terraza.src,
];
---

<Layout>
  <Header />
  <FloatingMenu triggerId="hero-section" />
  <MenuModal />
  <main class="relative w-full">
    <HeroSection images={images} />

    <AboutSection />

    <ProjectsSection />

    <ApproachSection />

    <ClientsSection />

    <Footer />
  </main>

  <script>
    import Lenis from "lenis";
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const lenis = new Lenis();
    (window as any).lenis = lenis;

    lenis.on("scroll", ScrollTrigger.update);

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000);
    });

    gsap.ticker.lagSmoothing(0);

    gsap.to(".title", {
      y: -200,
      ease: "none",
      scrollTrigger: {
        trigger: ".about",
        start: "top bottom",
        end: "top top",
        scrub: true,
      },
    });

    gsap.to(".carousel", {
      y: -200,
      ease: "none",
      scrollTrigger: {
        trigger: ".about",
        start: "top bottom",
        end: "top top",
        scrub: true,
      },
    });
  </script>
</Layout>
