---
import TextSwipe from "./TextSwipe.astro";
import casaTrujillo from "../assets/casa-trujillo.jpg";
import logo from "../assets/rgb-logo.png";
---

<footer class="relative w-full bg-[#fcfcfc] flex flex-col pt-20 md:pt-40">
  <div class="flex flex-col mb-8 px-3.5 md:px-7">
    <p
      class="uppercase text-[3rem] md:text-[8rem] font-bold tracking-tight leading-[0.95] mb-8"
    >
      Listo para comenzar
      <br class="md:hidden" />
      <span class="md:ml-40"> tu nuevo proyecto? </span>
    </p>

    <div class="flex md:justify-center">
      <button
        class="group bg-[#151515] text-[#fcfcfc] h-12 px-6 rounded-full cursor-pointer flex items-center"
      >
        <TextSwipe class="font-bold tracking-tighter leading-[0.85] text-sm">
          <Fragment slot="text1">CUENTANOS SOBRE TU IDEA</Fragment>
        </TextSwipe>
      </button>
    </div>
  </div>

  <div
    class="flex flex-col md:grid md:grid-cols-12 w-full border-t border-[#151515]/20 pt-10 pb-5 px-3.5 md:px-7 gap-y-12 md:gap-y-0"
  >
    <div class="order-3 md:order-1 col-span-3 flex flex-col gap-4">
      <img src={casaTrujillo.src} alt="casa-trujillo" class="w-full" />
      <img src={logo.src} alt="rgb-logo" class="w-full" />
    </div>

    <div class="hidden md:block col-span-1 md:order-2"></div>

    <div class="order-1 md:order-3 col-span-2">
      <p class="font-bold text-sm mb-4">(NAVEGACION)</p>
      <ul class="text-4xl md:text-5xl font-bold flex flex-col gap-6 md:gap-8">
        <li>
          <a href="/">
            <TextSwipe class="tracking-tighter leading-[0.85]">
              <Fragment slot="text1">Home</Fragment>
            </TextSwipe>
          </a>
        </li>
        <li>
          <a href="/proyectos">
            <TextSwipe
              class="tracking-tighter leading-[0.85]"
              class2="text-red-500"
            >
              <Fragment slot="text1">Proyectos</Fragment>
            </TextSwipe>
          </a>
        </li>
        <li>
          <a href="/nosotros">
            <TextSwipe
              class="tracking-tighter leading-[0.85]"
              class2="text-green-500"
            >
              <Fragment slot="text1">Nosotros</Fragment>
            </TextSwipe>
          </a>
        </li>
        <li>
          <a href="/contacto">
            <TextSwipe
              class="tracking-tighter leading-[0.85]"
              class2="text-blue-500"
            >
              <Fragment slot="text1">Contacto</Fragment>
            </TextSwipe>
          </a>
        </li>
      </ul>
    </div>

    <div class="hidden md:block col-span-2 md:order-4"></div>

    <div class="order-2 md:order-4 col-span-4">
      <div class="flex flex-col mb-12 md:mb-20">
        <p class="font-bold text-sm mb-2">(NUESTRA META)</p>
        <p class="text-xl md:text-3xl font-medium tracking-tighter">
          Transformamos espacios en experiencias únicas a través del diseño
          arquitectónico innovador.
        </p>
      </div>

      <div class="flex flex-col">
        <p class="font-bold text-sm mb-2">(SIGUENOS)</p>
        <div class="mt-4">
          <ul class="flex gap-4 text-xl md:text-3xl font-bold tracking-tighter">
            <li>
              <a
                href="https://www.instagram.com/rgb.studio.pe/"
                target="_blank"
              >
                <TextSwipe class="tracking-tighter leading-[0.85]">
                  <Fragment slot="text1">Instagram</Fragment>
                </TextSwipe>
              </a>
            </li>
            <li>
              <a
                href="https://www.tiktok.com/@rgbstudiope?is_from_webapp=1&sender_device=pc"
                target="_blank"
              >
                <TextSwipe class="tracking-tighter leading-[0.85]">
                  <Fragment slot="text1">Tik Tok</Fragment>
                </TextSwipe>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="order-4 col-span-12">
      <p class="text-xs md:text-sm text-center mt-10 font-bold">
        © 2025 RGB Studio. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
