---
import TextSwipe from "./TextSwipe.astro";
import Button from "./Button.astro";
import logoWhite from "../assets/rgb-logo-white.png";
---

<header class="absolute top-0 z-50 w-full px-7">
  <div class="text-[#fcfcfc] flex w-full justify-between mt-8 items-center">
    <div class="flex items-center gap-4">
      <img src={logoWhite.src} alt="rgb-logo" class="w-32" />
    </div>

    <ul class="flex text-sm gap-4 font-bold items-center uppercase">
      <li>
        <TextSwipe
          class="tracking-tighter leading-[0.85]"
          class2="text-red-500"
        >
          <Fragment slot="text1">Proyectos</Fragment>
        </TextSwipe>
      </li>
      <li>
        <TextSwipe
          class="tracking-tighter leading-[0.85]"
          class2="text-green-500"
        >
          <Fragment slot="text1">Nosotros</Fragment>
        </TextSwipe>
      </li>
      <li>
        <TextSwipe
          class="tracking-tighter leading-[0.85]"
          class2="text-blue-500"
        >
          <Fragment slot="text1">Contacto</Fragment>
        </TextSwipe>
      </li>
    </ul>

    <Button
      class="bg-[#fcfcfc] text-[#151515]"
      text1="CONTACTANOS"
      textSwipeClass="font-bold tracking-tighter leading-[0.85] text-sm"
    />
  </div>
</header>
